/* Views Styles */

.rbc-month-view,
.rbc-time-view {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  overflow: hidden;
  background: white;
}

:root[data-theme="dark"] .rbc-month-view,
:root[data-theme="dark"] .rbc-time-view {
  border-color: #262626;
  background: #000000;
}

/* Day Background */
.rbc-day-bg,
.rbc-time-slot {
  border-color: #efefef;
}

:root[data-theme="dark"] .rbc-day-bg,
:root[data-theme="dark"] .rbc-time-slot {
  border-color: #1a1a1a;
}

.rbc-day-bg:hover {
  background-color: #fafafa;
}

:root[data-theme="dark"] .rbc-day-bg:hover {
  background-color: #1a1a1a;
}
